/* https://codyhouse.co/gem/css-slide-in-panel */

.panel-overlay {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.3;
  display: none;
}

.panel-close {
  color: red;
  padding-right: 10px;
  font-size: 15px
}

.cd-panel {
  position: relative;
  visibility: hidden;
  transition: visibility 0s 0.6s;
}

.cd-panel.cd-panel--is-visible {
  visibility: visible;
  transition: visibility 0s 0s;
}

.cd-panel__container {
  z-index: 100;
  position: fixed;
  width: 800px;
  height: 100%;
  top: 0;
  transition: transform 0.3s 0s;
  overflow: scroll;
}

.cd-panel--from-right .cd-panel__container {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.cd-panel--from-left .cd-panel__container {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.cd-panel--is-visible .cd-panel__container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.cd-panel__container .panel {
  background: white;
  min-height: 100vh;
}