.stats_icon svg {
  width: 16px;
  height: 16px;
}

.home_icon svg {
  width: 24px;
  height: 24px;
}

.chart {
  height: 255px;
}


.logo h2 {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 18px;
}

.navbar-item.is-active {
  border-bottom: 1px solid red;
}
