<div class="cd-panel cd-panel--from-right js-cd-panel-main">
  <div class="cd-panel__container">
    <nav class="panel">
      <p class="panel-heading">
        <span class="field is-grouped is-grouped-multiline"></span>
      </p>
      <div class="panel-block">
        <div class="cd-panel__content">
        </div> <!-- cd-panel__content -->
      </div>
    </nav>
  </div> <!-- cd-panel__container -->
</div> <!-- cd-panel -->