<div class="cd-panel cd-panel--from-right js-cd-panel-main">
  <div class="cd-panel__container">
    <nav class="panel">
      <p class="panel-heading">
        Repositories
        <a href='#' onclick="javascript: hidePanel(); return false;">X</a>
      </p>
      <div class="panel-block">
        <div class="cd-panel__content">
          <% 5.times do %>
            <p><%= "hello world is here" * 20 %></p>
          <% end %>
        </div> <!-- cd-panel__content -->
      </div>
    </nav>
  </div> <!-- cd-panel__container -->
</div> <!-- cd-panel -->