<title>Number of Requests to the Application</title>

<% unless @datasource.default? %>
  <%#= link_to raw("&larr; Back"), rails_performance_path, class: "back_link" %>
<% end %>

<div class="has-text-right mb-4">
  <rails-performance-autoupdate interval="10s">
    <label id="autoupdate_label">
      <input type="checkbox" /> Auto-update
    </label>
  </rails-performance-autoupdate>
</div>

<% @widgets.each do |row| %>
  <% if row.is_a?(Array) %>
    <div class="columns">
      <% row.each do |widget| %>
        <div class="column"><%= render widget %></div>
      <% end %>
    </div>
  <% else %>
    <%= render row %><br/>
  <% end %>
<% end %>
