<title>Number of Requests to the Application</title>

<% unless @datasource.default? %>
  <%#= link_to raw("&larr; Back"), rails_performance_path, class: "back_link" %>
<% end %>

<div class="has-text-right mb-4">
  <rails-performance-autoupdate interval="10s">
    <label id="autoupdate_label">
      <input type="checkbox" /> Auto-update
    </label>
  </rails-performance-autoupdate>
</div>

<% @widgets.each do |row| %>
  <div class="row">
    <%= render row %>
  </div>
<% end %>
