.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  display: none;
}

.loader-wrapper .loader {
  height: 80px;
  width: 80px;
}

.nowrap {
  white-space: nowrap;
}

.loader-wrapper.is-active {
  display: flex;
  opacity: 0.3;
  z-index: 1000;
}

.footer-box {
  padding-top: 6px;
  font-size: 10px;
  opacity: 0.7;
}

.footer-box a {
  color: #4a4a4a;
  text-decoration: underline;
}

.stats_icon svg {
  width: 16px;
  height: 16px;
}

.stats_icon_max svg {
  width: 24px;
  height: 24px;
}

.home_icon svg {
  width: 24px;
  height: 24px;
}

.download_icon svg {
  width: 24px;
  height: 24px;
  color: red;
}

.user-agent-icon svg {
  width: 12px;
  height: 12px;
}

.user-agent-icon-user svg path {
  fill: hsl(141, 53%, 53%) !important;
}

.chart {
  height: 300px;
}

.chart_mini {
  height: 200px;
  width: 720px;
}

.red {
  color: red;
}

.logo h2 {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 18px;
}

.navbar-item.is-active {
  border-bottom: 1px solid red;
}

.card-content {
  overflow-x: scroll;
}

table th[data-sort] {
  cursor: pointer;
}

.very-small-text {
  font-size: 8px;
}

#autoupdate_label {
  cursor: pointer;
}

.is-size-8, .is-size-8 * {
  font-size: 10px !important;
  line-height: 20px !important;
}

.is-size-9, .is-size-9 * {
  font-size: 7px !important;
  line-height: 20px !important;
}

.attention {
  background-color: #f6f5f5;
}

body.has-sticky-footer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.footer-box {
  background-color: #f5f5f5;
  padding: 1rem 0;
}

.apexcharts-tooltip {
  background: yellow !important;
}
